<h1>
    Registro dei Calciatori
</h1>
<p>
    Questa pagina contiene l'elenco dei calciatori e dovrà:
    <ul>
        <li>Permettere la cancellazione e creazione di un elemento</li>
        <li>Validare la creazione solo con obbligatorierà del campo nome</li>
        <li>Ad ogni modifica la tabella dovrà aggiornarsi</li>
        <li>Presentare almeno un comportamento responsivo grazie ad a classi e css</li>
    </ul>
</p>
<table class="table-bordered table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ruolo</th>
            <th>ID squadra</th>
            <th>Allenatore</th>
            <th>Denominazione</th>
            <th>Data di Fondazione</th>
            
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.id}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.ruolo}}</td>
            <td>{{item.squadra_id}}</td>
            <td>{{item.allenatore}}</td>
            <td>{{item.denominazione}}</td>
            <td>{{item.datafondazione | date}}</td>
            <!--<td>
                
                <a class="btn btn-sm btn-danger"  ng-click="del(item.id)"><i class="fa fa-trash"></i> Cancella</a>
            </td>-->
        </tr>
    </tbody>
</table>